*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

th{
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 10px;
}

table{
  width: 800px;
  border-collapse: collapse;
  border-spacing: 15px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

th, td {
border: 1px solid #ddd;
padding: 15px; /* Increases spacing inside cells */
text-align: center;
}

#delete,
#change,
#add-book{
  background-color: #3F7D58;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  color: white;
}

#delete:active,
#change:active,
#add-book:active{
  opacity: 0.6;
}

header{
  text-align: center;
}

#add-book{
  margin-top: 8px;
}

dialog{
  padding: 16px;
  margin: auto auto;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px #3F7D58;
}
#form-title{
  padding-bottom:16px;
}

form{
  max-width: 500px;
}

label{
  display: block;
}

input{
 margin-bottom: 8px; 
}

#submit-btn,
#cancel-btn{
  background-color: #3F7D58;
  padding: 8px;
  color: white;
  border-radius: 10px;
  border: none;;
}

#submit-btn{
  margin-right: 8px;
}